:root {
  --margin-section: 3rem;
  --card-width: 200px;
  --card-height: 100px;
  --box-shadow: 6px 6px 6px #e2e1e1;
  --background-color: #f2f2f2;
  --charter-color: #red;
  --color-star: #0065fc;
  --color-star-empty: #f2f2f2;
}

body {
  font-family: "Raleway";
  font-size: 16px;
}

/* ---- nav header ---- */

.nav-header__content {
  width: 400px;
  height: 20px;
  margin: var(--margin-section);
  padding: 3px;
  display: flex;
  justify-content: space-between;
}

.nav-header__content__link--active {
  font-style: 100;
  border-top: var(--charter-color) solid;
  color: var(--charter-color);
  margin: var(--margin-section);
}
.nav-header__content__link--normal {
  font-weight: 100;
  color: black;
  margin: var(--margin-section);
}
.nav-header__content__link--highlight {
  font-weight: 900;
  color: var(--charter-color);
  position: relative;
  margin: var(--margin-section);
}

.header__content__logo__image {
  display: grid;
  block-size: 40px;
  margin: var(--margin-section);
}
.header__content__title {
  font-size: 20px;
  font-weight: 800;
  margin: var(--margin-section);
}

.header__content__subtitle {
  font-size: 16px;
  font-weight: 100;
  margin: var(--margin-section);
}

.header__content__search-box {
}

.header__content__search-box__icon {
  border: 1px var(--background-color) solid;
  float: left;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: var(--background-color);
  padding-right: 30px;
  text-align: center;
  padding: 10px;
  width: 10px;
  height: 15px;
  margin: var(--margin-section);
}

.header__content__search-box__title {
}

.header__content__search-box__input {
  border: 1px var(--background-color) solid;
  font-weight: bold;
  padding: 7.8px;
  width: 200;
  position: relative;
  right: 50px;
  margin: var(--margin-section);
}
input::placeholder {
  color: black;
  font-weight: bold;
}

.header__content__search-box__button {
  border: 1px var(--background-color) solid;
  color: white;
  background-color: var(--charter-color);
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  font-weight: bold;
  padding: 7px;
  width: 100px;
  height: 38px;
  position: relative;
  right: 100px;
}

.header__content__filtres__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px;
  padding: 3px;
  margin: var(--margin-section);
}

main {
  margin: var(--margin-section);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 66% 33%;
  grid-template-areas:
    "hebergement popular"
    "activities activities";
}
/*---- Hebergements ----*/

.lodging:first-child {
  grid-area: "hebergement";
}
.lodging__content {
  margin: var(--margin-section);
  width: calc(60% - var(--margin-section) * 2);
  height: calc(40% - var(--margin-section) * 2);
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  gap: 3rem;
  background-color: var(--background-color);
  border-radius: 3rem;
}

.lodging__content__card__image {
  width: 13rem;
  height: 8rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border: 4px solid white;
  box-shadow: var(--box-shadow);
  display: grid;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lodging__content__card__subtitle {
  font-weight: bold;
  background-color: white;
}
.lodging__content__card__text {
}

/*---- Popular ----*/
.favorites:nth-child(2) {
  grid-area: "popular";
}

.favorites__content {
  margin: var(--margin-section);
  width: calc(30% - var(--margin-section) * 2);
  height: calc(100% - var(--margin-section) * 2);
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}
/*---- Activities ----*/
.activities:last-child {
  grid-area: "activities";
}
.activities__content {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
}
/*---- Footer ----*/
