header {
  margin: 20px;
  font-family: Raleway;
  src: url(font-family/static/Raleway-Medium.ttf);
}
.nav-header {
  width: 400px;
  height: 20px;
  background-color: none;
  margin: 3px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: right;
  flex-wrap: wrap;
  list-style-type: none;
}

.nav-header__link--active {
  font-style: 100;
  color: #0065fc;
  border-top: #0065fc solid;
}

.nav-header__link--normal {
  font-weight: 100;
  color: black;
}

.nav-header__link--highlight {
  font-weight: 900;
  color: #0065fc;
}

.logo-header {
  margin: 3px;
  padding: 3px;
  block-size: 40px;
  background-color: rgb(211, 210, 210);
}

.title-header {
  font-size: 20px;
  font-weight: 800;
}

.subtitle-header {
  font-size: 16px;
  font-weight: 100;
}

.fa-map-marker-alt {
  border: 1px #f2f2f2 solid;
  float: left;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: #f2f2f2;
  padding-right: 30px;
  text-align: center;
  padding: 10px;
  width: 10px;
  height: 15px;
}

.search-box input {
  border: 1px #f2f2f2 solid;
  font-weight: bold;
  padding: 7.5px;
  width: 200;
  height: px;
}

::placeholder {
  font-weight: bold;
  color: black;
}

button {
  position: absolute;
  border: 1px #f2f2f2 solid;
  color: white;
  background-color: #0065fc;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  font-weight: bold;
  padding: 7.5;
  width: 150px;
  height: 40px;
  float: left;
}
.filter-header p {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  margin: 3px;
  padding: 3px;
}

.fa-money-bill-wave {
  padding: 15px;
  display: inline-block;
  border: 1px;
  border-radius: 30px;
  background-color: #deebff;
  color: #0065fc;
}

.fa-child {
  padding: 15px;
  display: inline-block;
  border: 1px;
  border-radius: 30px;
  background-color: #deebff;
  color: #0065fc;
}

.fa-heart {
  padding: 15px;
  display: inline-block;
  border: 1px;
  border-radius: 30px;
  background-color: #deebff;
  color: #0065fc;
}
.text-icon {
  display: inline-block;
  align-items: center;
  border: 2px solid;
  border-radius: 20px / 20px;
  border-color: rgb(211, 210, 210);
  padding: 10px;
}

.filter-header i {
  border: 1px solid;
}

.fa-dog {
  padding: 15px;
  display: flex;
  border: 1px;
  border-radius: 30px;
  background-color: #deebff;
  color: #0065fc;
}

.info-header__icon {
  padding: 5px;
  display: inline-block;
  border: 1px solid rgb(211, 210, 210);
  border: 50px;
  font-size: 10px;
  color: #0065fc;
}
.info-header__text {
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
}

main {
  font-family: Raleway;
  src: url(font-family/static/Raleway-Medium.ttf);
}

.lodging__child-1 img {
  block-size: weight 600px 500px;
  text-align: left;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-bottom: 6rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.section-1__text {
  display: flex;
  block-size: 20px 20px;
  font-size: 20px;
}

.lodging__child-1 {
  display: flex;
  flex-direction: column;
  block-size: 500px 500px;
  background-color: #f2f2f2;
  size: 10px 10px;
}

.child-1__subtitle--highlight {
  display: flex;
  flex-direction: column;
  order: 1;
  block-size: 40px 40px;
  background-color: #f2f2f2;
  font-weight: bold;
}
.child-1__text {
  display: flex;
  order: 2;
  block-size: 20px 20px;
  background-color: #f2f2f2;
  font-weight: 100;
}
.child-1__icon {
  display: flex;
  order: 3;
  block-size: 10px 10px;
  background-color: #f2f2f2;
  color: #0065fc;
}

.lodging__child-2 img {
  text-align: left;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-bottom: 6rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-2__subtitle--highlight {
  display: flex;
  flex-direction: column;
  order: 1;
  block-size: 40px 40px;
  background-color: #f2f2f2;
  font-weight: bold;
}

.child-2__text {
  display: flex;
  order: 2;
  block-size: 20px 20px;
  background-color: #f2f2f2;
  font-weight: 100;
}
.child-2__icon {
  display: flex;
  order: 3;
  block-size: 10px 10px;
  background-color: #f2f2f2;
  color: #0065fc;
}
.lodging__child-3 img {
  text-align: left;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-bottom: 6rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-3__subtitle--highlight {
  display: flex;
  flex-direction: column;
  order: 1;
  block-size: 40px 40px;
  background-color: #f2f2f2;
  font-weight: bold;
}
.child-3__text {
  display: flex;
  order: 2;
  block-size: 20px 20px;
  background-color: #f2f2f2;
  font-weight: 100;
}
.child-3__icon {
  display: flex;
  order: 3;
  block-size: 10px 10px;
  background-color: #f2f2f2;
  color: #0065fc;
}
.lodging__child-4 img {
  text-align: left;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-bottom: 6rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-4__subtitle--highlight {
  display: flex;
  flex-direction: column;
  order: 1;
  block-size: 40px 40px;
  background-color: #f2f2f2;
  font-weight: bold;
}
.child-4__text {
  display: flex;
  order: 2;
  block-size: 20px 20px;
  background-color: #f2f2f2;
  font-weight: 100;
}
.child-4__icon {
  display: flex;
  order: 3;
  block-size: 10px 10px;
  background-color: #f2f2f2;
  color: #0065fc;
}
.lodging__child-5 img {
  text-align: left;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-bottom: 6rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-5__subtitle--highlight {
  display: flex;
  flex-direction: column;
  order: 1;
  block-size: 40px 40px;
  background-color: #f2f2f2;
  font-weight: bold;
}
.child-5__text {
  display: flex;
  order: 2;
  block-size: 20px 20px;
  background-color: #f2f2f2;
  font-weight: 100;
}
.child-5__icon {
  display: flex;
  order: 3;
  block-size: 10px 10px;
  background-color: #f2f2f2;
  color: #0065fc;
}
.lodging__child-6 img {
  text-align: left;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-bottom: 6rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-6__subtitle--highlight {
  display: flex;
  flex-direction: column;
  order: 1;
  block-size: 40px 40px;
  background-color: #f2f2f2;
  font-weight: bold;
}
.child-6__text {
  display: flex;
  order: 2;
  block-size: 20px 20px;
  background-color: #f2f2f2;
  font-weight: 100;
}
.child-6__icon {
  display: flex;
  order: 3;
  block-size: 10px 10px;
  background-color: #f2f2f2;
  color: #0065fc;
}
.section-1__text {
  display: flex;
  font-weight: bold;
  font-size: 14;
  block-size: 40px 40px;
}

.section-2__favorites h1 {
  display: flex;
  block-size: 20px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #f2f2f2;
}
.section-2__icon {
  display: flex;
  float: right;
  block-size: 20px 20px;
  background-color: #f2f2f2;
}
.favorites__child-7 img {
  text-align: right;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-right: 12rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-7__subtitle {
  display: flex;
  order: 1;
  block-size: 40px 40px;
  background-color: #f2f2f2;
  font-weight: bold;
}
.child-7__text {
  block-size: 20px 20px;
  background-color: #f2f2f2;
}
.child-7__icon {
  display: flex;
  order: 3;
  block-size: 10px 10px;
  background-color: #f2f2f2;
  color: #0065fc;
}
.favorites__child-8 img {
  text-align: right;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-right: 12rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-8__subtitle {
  display: flex;
  order: 1;
  block-size: 40px 40px;
  background-color: #f2f2f2;
  font-weight: bold;
}
.child-8__text {
  block-size: 20px 20px;
  background-color: #f2f2f2;
}
.child-8__icon {
  display: flex;
  order: 3;
  block-size: 10px 10px;
  background-color: #f2f2f2;
  color: #0065fc;
}
.favorites__child-9 img {
  text-align: right;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-right: 12rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-9__subtitle {
  display: flex;
  order: 1;
  block-size: 40px 40px;
  background-color: #f2f2f2;
  font-weight: bold;
}
.child-9__text {
  block-size: 20px 20px;
  background-color: #f2f2f2;
}

.child-9__icon {
  display: flex;
  order: 3;
  block-size: 10px 10px;
  background-color: #f2f2f2;
  color: #0065fc;
}

.activities__title {
  display: flex;
  block-size: 20px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #f2f2f2;
}
.activities__child-10 img {
  text-align: right;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-bottom: 4rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-10__text {
  display: flex;
  block-size: 20px 20px;
  background-color: #f2f2f2;
  font-size: 12;
  font-weight: bold;
}
.activities__child-11 img {
  text-align: right;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-bottom: 4rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-11__text {
  display: flex;
  block-size: 20px 20px;
  background-color: #f2f2f2;
  font-size: 12;
  font-weight: bold;
}
.activities__child-12 img {
  text-align: right;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-bottom: 4rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-12__text {
  display: flex;
  block-size: 20px 20px;
  background-color: #f2f2f2;
  font-size: 12;
  font-weight: bold;
}
.activities__child-13 img {
  text-align: right;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-bottom: 4rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-13__text {
  display: flex;
  block-size: 20px 20px;
  background-color: #f2f2f2;
  font-size: 12;
  font-weight: bold;
}
.activities__child-14 img {
  text-align: right;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-bottom: 4rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-14__text {
  display: flex;
  block-size: 20px 20px;
  background-color: #f2f2f2;
  font-size: 12;
  font-weight: bold;
}
.activities__child-15 img {
  text-align: right;
  width: 300px;
  height: 200px;
  border: 6px solid white;
  border-radius: 20px;
  border-bottom: 4rem solid white;
  box-shadow: 6px 6px 6px gray;
}
.child-15__text {
  display: flex;
  block-size: 20px 20px;
  background-color: #f2f2f2;
  font-size: 12;
  font-weight: bold;
}

footer .child-16__title--highlight {
  display: flex;
  block-size: 20px 20px;
  font-size: 12;
  font-weight: bold;
}
.child-16__text {
  display: flex;
  font-size: 12px;
}
