footer {
  display: flex;
  background-color: var(--background-color);
  font-size: var(--font-size-base);
  padding: var(--margin-section);
}

.footer__card {
  width: calc(100% / 3);
}

.footer__card__title {
  font-weight: 800;
  line-height: 3rem;
}

.footer__card__text {
  line-height: 2rem;
  font-weight: 300;
}
/* MOBILE */

@media screen and (max-width: 769px) {
  footer {
    width: 105%;
    flex-direction: column;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    padding-left: 0.5rem;
  }

  .footer__card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
