:root {
  --footer-card-spacing: calc(var(--spacing-xl) * 8);
}

footer {
  display: flex;
  background-color: var(--background-color);
  font-size: var(--font-size-base);
  padding: var(--margin-section);
}

.footer__card {
  margin-right: var(--footer-card-spacing);
}

.footer__card__title {
  font-weight: 800;
  line-height: 3rem;
}

.footer__card__text {
  line-height: 2rem;
  font-weight: 300;
}
