header {
  margin: 0 var(--margin-section);
}

.header__title {
  font-weight: var(--font-weight-bold);
  line-height: var(--spacing-line-base);
  padding-top: 2rem;
}

.header__subtitle {
  font-weight: var(--font-weight-light);
  line-height: var(--spacing-line-xs);
}

/* HEADER-NAV */

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav__logo {
  padding-top: 1.5rem;
}

.header-nav__content {
  display: flex;
  justify-content: space-between;
}

.header-nav__content__link--active {
  font-weight: 100;
  color: var(--primary-color);
  border-top: var(--primary-color) solid;
  padding: 1.5rem 2rem 0 2rem;
  font-style: none;
}

.header-nav__content__link--inactive {
  font-style: 100;
  color: var(--text-color);
  padding: 1.5rem 5rem 0 5rem;
  font-style: none;
}

.header-nav__content__link--button {
  font-weight: 900;
  color: var(--primary-color);
  padding: 1.5rem 2rem 0 5rem;
}

/* HEADER-SEARCH-BOX */
:root {
  --search-box-radius: 0.5rem;
  --search-box-spacing: calc(var(--spacing-xs) * 0.8);
}

.header-search-box {
  display: flex;
  border: 1px 0 1px 0 solid var(--background-color);
}

.header-search-box__icon {
  padding: var(--search-box-spacing);
  background-color: var(--background-color);
  border-radius: var(--search-box-radius) 0 0 var(--search-box-radius);
  border: 1px var(--background-color) solid;
}

.header-search-box__input {
  width: 13rem;
  padding: var(--search-box-spacing);
  border: none;
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
  border: 1px var(--background-color) solid;
}

.header-search-box__input::placeholder {
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
}

.header-search-box__button {
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 0 var(--search-box-radius) var(--search-box-radius) 0;
}

/* HEADER-FILTERS */
:root {
  --color-border-filters: #aaaa;
}

.header-filters {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.header-filters__toggle__title-H1 {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  border: none;
}

.header-filters__toggle {
  display: flex;
  text-align: center;
  margin-right: 2rem;
}

.header-filters__toggle__title {
  display: flex;
  align-items: center;
  border-radius: 0 2rem 2rem 0;
  border: 2px solid var(--color-border-filters);
  border-left: none;
  padding: 0 2rem 0 1rem;
  width: 8rem;
}

.header-filters__toggle__icon {
  color: var(--primary-color);
  padding: 1.5rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--secondary-color);
  border-radius: 2rem 2rem 2rem 2rem;
}

/* HEADER-INFO */

.header-info {
  display: flex;
}
.header-info__icon {
  color: var(--primary-color);
  padding: 0.5rem;
  border: 1px solid var(--background-color);
  border-radius: 4rem;
  width: 0.5rem;
  height: 0.5rem;
}
.header-info__text {
  padding: 0 0 0 1rem;
  line-height: var(--spacing-line-xs);
}
