main {
  width: calc(100% - var(--margin-section) * 2);
  margin: var(--margin-section);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: var(--spacing-base);
  grid-template-areas:
    "hebergement popular"
    "activities activities";
}
/* herbergement */
.lodging {
  width: calc(100% - var(--margin-section) * 4);
  grid-area: hebergement;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-base);
  background-color: var(--background-color);
  border-radius: 1rem;
}

.lodging__title {
  font-size: var(--font-size-xl);
  font-weight: bold;
  line-height: 4rem;
}
.lodging__content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: var(--spacing-xs);
}

.lodging__content__card {
  box-shadow: var(--box-shadow);
  padding: calc(var(--spacing-xs) * 0.5);
  border-radius: 1rem;
  background-color: var(--white-color);
}

.lodging__content__card:hover {
  transform: scale(1.1);
}
.lodging__content__card__image {
  width: 100%;
  height: 8rem;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  background-color: var(--white-color);
}

.lodging__content__card__subtitle {
  font-weight: bold;
  background-color: var(--white-color);
}

.lodging__content__card__text {
  background-color: var(--white-color);
}

.lodging__content__card__stars {
  color: var(--primary-color);
}

.lodging__content__card__stars__icon--empty {
  color: var(--secondary-color);
}

.lodging__text {
  width: 10rem;
  font-weight: bold;
  padding: 1rem 38rem 0 0;
  line-height: 2rem;
}
/* Popular */

.favorites {
  grid-area: popular;
  justify-content: space-around;
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
  right: 6rem;
}

.favorites__title-container {
  display: flex;
  justify-content: space-between;
}

.favorites__title-container__title {
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.favorites__content {
  width: calc(100% - var(--margin-section));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--background-color);
}

.favorites__content__card {
  display: flex;
  margin: 0.5rem;
  width: calc(100% - var(--margin-section));
}

.favorites__content__card:hover {
  transform: scale(1.1);
}

.favorites__content__card__image {
  width: 100%;
  height: 8rem;
  border-radius: 1rem 0 0 1rem;
  border: 4px solid var(--white-color);
  box-shadow: var(--box-shadow);
  display: grid;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.favorites__content__card__subtitle {
  font-weight: bold;
  order: 1;
}

.favorites__content__card__text {
  order: 2;
}

.favorites__content__card__stars {
  color: var(--primary-color);
  order: 3;
  display: flex;
}

.favorites__content__card__stars--empty {
  color: var(--secondary-color);
  background-color: var(--white-color);
}

.description {
  height: 8.5rem;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 1rem 1rem 0;
  box-shadow: var(--box-shadow);
}

/* Activities */

:root {
  --card-width: 16rem;
}

.activities {
  grid-area: activities;
  width: calc(100% - var(--margin-section) * 2);
}

.activities__title {
  font-weight: bold;
  font-size: var(--font-size-xl);
  line-height: 3rem;
}

.activities__content {
  display: grid;
  grid-gap: var(--spacing-base);
  grid-template-columns: repeat(4, 1fr);
}

.activities__content > :nth-child(1),
.activities__content > :nth-child(4) {
  grid-row: 1/3;
}

.activities__content > :nth-child(1) .activities__content__card__image,
.activities__content > :nth-child(4) .activities__content__card__image {
  height: calc(var(--card-width) * 2 + var(--spacing-base) * 2 + 1rem);
}

.activities__content > :nth-child(2),
.activities__content > :nth-child(5) {
  grid-row: 1/2;
}

.activities__content > :nth-child(3),
.activities__content > :nth-child(6) {
  grid-row: 2/3;
}

.activities__content__card {
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
}
.activities__content__card:hover {
  transform: scale(1.1);
}

.activities__content__card__image {
  width: 100%;
  height: var(--card-width);
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
  box-shadow: var(--box-shadow);
}

.activities__content__card__text {
  border-radius: 0 0 2rem 2rem;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  padding: 0.5rem 0 1rem 1rem;
  font-weight: bold;
}

/* MOBILE */

@media screen and (max-width: 769px) {
  main {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0.5rem;
  }

  .lodging {
    width: 100%;
    order: 2;
    background-color: var(--white-color);
  }
  .lodging__text {
    font-weight: bold;
    padding: 1rem 15rem 0 0;
    line-height: 4rem;
  }

  .lodging__content {
    display: flex;
    flex-direction: column;
  }

  .favorites {
    position: unset;
    width: 100%;
    order: 1;
  }
  .favorites__title-container__title {
    padding-bottom: 1.5rem;
  }
  .favorites__content__card {
    margin: 0.5rem;
  }
  .description {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .activities {
    width: 100%;
    order: 3;
    margin: 2rem;
    padding: 0;
  }

  .activities__content {
    display: flex;
    flex-direction: column;
  }
  .activities__content__card__image {
    height: 12rem;
  }

  .activities__content > :nth-child(1) .activities__content__card__image,
  .activities__content > :nth-child(4) .activities__content__card__image {
    height: 12rem;
  }
}
